boto3==1.42.91
botocore==1.42.91
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
cvdata==0.0.3
ddgs==9.14.0
duckduckgo_search==8.1.1
idna==3.11
ImageHash==4.3.2
jmespath==1.1.0
lxml==6.1.0
numpy==2.4.4
opencv-python==4.13.0.92
openimages==0.0.1
pandas==3.0.2
pillow==12.2.0
primp==1.2.2
python-dateutil==2.9.0.post0
PyWavelets==1.9.0
requests==2.33.1
s3transfer==0.16.0
scipy==1.17.1
six==1.17.0
tqdm==4.67.3
urllib3==2.6.3
